* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
}
.container {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    width: 100%;
    backdrop-filter: blur(10px);
}
h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: bold;
    color: #fff;
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-nome {
    width: 48%;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 2px solid #fff;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    text-align: center;
}

.input-nome:focus {
    border-color: #aa25fc;
    outline: none;
}

.placar {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    margin: 20px 0;
}

.placar-equipe {
    display: flex;
    align-items: center;
}

.placar-equipe span:first-child {
    margin-right: 10px;
    font-weight: bold;
}

.botao {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px;
}

.botao:hover {
    background-color: #45a049;
}

.botao:active {
    transform: scale(0.98);
}

.reset {
    background-color: #f44336;
}

.reset:hover {
    background-color: #e53935;
}

button, .input-nome {
    transition: all 0.3s ease-in-out;
}

input:focus, .botao:hover {
    transform: scale(1.05);
}

.relogio {
    margin-top: 20px;
    font-size: 1rem; 
    font-weight: bold;
    color: #fff;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    width: 150px;
    margin-top: 30px;
    display: inline-block;
}
.cronometro {
    margin-top: 30px;
    font-size: 1rem; 
    font-weight: bold;
    color: #fff;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    width: 150px;
    margin-top: 30px;
    display: inline-block;
    text-align: center; 
}

.cronometro-botoes {
    margin-top: 15px;
}

.cronometro-botoes button {
    margin: 5px;
}

.sets {
    margin-top: 20px;
}

.sets h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.placar-set {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px 0;
}

.botoes-sets {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.botoes-sets button {
    padding: 10px 20px;
    font-size: 16px;
}
